@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  font-family: "Kode Mono", monospace;
}

.header-bg {
  background: url("./assets/Header.jpg");
  height: 25vh;
}

.header-bg p,
.header-bg h1 {
  z-index: 0;
}

.overlay {
  background-color: black;
  position: absolute;
  height: 25vh;
  opacity: 0.7;
}

